nav {
	display: grid;
	grid-template-columns: 5rem auto 5rem;
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.23);
	.block {
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			color: white;
			font-size: 2rem;
			cursor: pointer;
		}
		img {
			cursor: pointer;
			height: 3rem;
		}
	}
	.data {
		border: 0.5px solid rgba(255, 255, 255, 0.23);
		border-top: none;
		border-bottom: none;
		padding: 0 auto;
		ul {
			display: grid;
			grid-template-columns: repeat(4, 25%);
			height: 100%;
			list-style-type: none;
			z-index: 1;
			position: relative;
			a {
				display: flex;
				color: #fff;
				margin: 0 10px;
				justify-content: center;
				align-items: center;
				border-bottom: 1px solid transparent;
				text-decoration: none;
				position: relative;
				li {
					text-transform: uppercase;
					cursor: pointer;
					font-weight: 500;
					letter-spacing: 0.1rem;
				}
				.toast-notification {
					position: absolute;
					top: 15px;
					right: 0;
					width: 18px;
					height: 20px;
					background-color: red;
					color: #fff;
					border-radius: 50%;
					font-size: smaller;
					text-align: center;
				}
			}
		}
	}
}

.underline {
	display: block;
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	width: 25%;
	height: calc(5px / 2);
	mix-blend-mode: initial;
	pointer-events: none;
	transition: 0.5s ease-in-out;
	&:nth-child(1) {
		transition: calc(0.5s * 1.2) ease-in-out;
	}
}
@media screen and (min-width: 660px) {
	.data {
		padding: 0 5rem;
	}
}
@media screen and (min-width: 780px) {
	.data {
		padding: 0 10rem;
	}
}
@media screen and (min-width: 1024px) {
	.data {
		padding: 0 20rem;
	}
}
