// Evolution
.page {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.description {
		display: flex;
		flex-direction: column-reverse;
		overflow: scroll;
		.stats {
			display: none;
		}
		.battle-stats {
			position: absolute;
			bottom: 20px;
			left: 10px;
			margin-top: 5rem;
		}

		.add-pokemon,
		button {
			font-size: 10px;
		}
	}
}
